.legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  text-align: center;
  margin-top: 1rem;
}

.legend-item {
  display: flex;
  align-items: center;
}

.legend-item span {
  color: #F4FEFD;
  margin-left: 5px;
}
