* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    padding: 10px;
}

.menu select {
    margin-left: 5px;
    cursor: pointer;
}

.menu select:disabled {
    cursor: default;
}

.menu button {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.menu button:disabled {
    cursor: default;
}
