.header {
  background-color: #1B2223;
  padding: 15px;
}

.header h1 {
  color: #0EF6CC;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 525px) {
  .header h1 {
    font-size: 1.5rem;
  }
}
