* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: #3A4F50;
}

.algorithm-info {
    color: white;
    padding-bottom: 15px;
    font-size: 18px;
}

.grid {
    background-color: #3A4F50;
}

@media screen and (max-width: 525px) {
    .algorithm-info {
        font-size: 12px;
    }
}
