* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #3A4F50;
    padding-bottom: 20px;
}

.algorithm-info {
    color: white;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 16px;
}
  